@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
  background-color: #3c3c3c;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#gameframe{
  width:450px;
  height:800px;
  border: 1px solid black;
  zoom: 0.75; -moz-transform: scale(0.75);
}
