@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap');
body{
  background-color: #3c3c3c;
  color: #FFFFFF;
  text-align: center;
  font-family: 'Roboto', sans-serif;
}
#gameframe{
  width:450px;
  height:800px;
  border: 1px solid black;
  zoom: 0.75; -moz-transform: scale(0.75);
}
a:link{
  color: #ff9500;
}
a:visited{
  color: #ab3300;
}
a:hover{
  color: #4cba30;
}
a:active{
  color: blue;
}
.top-bar {
  overflow: hidden;
  background-color: #333;
}
.top-bar a{
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}
.top-bar a:hover{
  color: aquamarine;
}

.dropdown {
  float: left;
  overflow: hidden;
}
.dropdown .dropbtn {
  background-color: #333;
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}
.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: aquamarine;
  color: black;
  transition-duration: 0.4s;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}
.dropdown-content a:hover {
  background-color: #ddd;
}
.dropdown:hover .dropdown-content {
  display: block;
}
