
/*CSS RESET (removes whitespace at top of screen)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}

body{
    background: #333333;
}


h1{
    font-family: 'ubuntu', sans-serif;
    font-size: 6vw;
    margin-bottom: 20px;
    text-align: center;
}

.mainbox{
    background: #eeeeee;
    width: 75%;
    border-radius: 50px;
    margin: auto;
    padding: 50px;
    margin-top: 50px;
    margin-bottom: 50px;
}

.equation{
    font-size: 2vw;
    margin-bottom: 20px;
}

.inputbox{
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
}

#numDigits{
    font-family: 'ubuntu' , sans-serif;
    font-size: 15px;
    background: #333333;
    color: #eeeeee;
    border-radius: 5px;
    margin: 10px;
}

#startbtn{
    background: #333333;
    color: #eeeeee;
    border-radius: 20px;
    margin: 10px;
    font-family: 'ubuntu' , sans-serif;
    font-size: 15px;
}

#divPiDigits{
    color: #333333;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    font-family: 'ubuntu' , sans-serif;
    font-size: 1.1vw;
    word-wrap: break-word;
}
