html, body, div{
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Ubuntu' , sans-serif;
    background: #333333;
    color: white;
    
}

#divPiDigits{
font-size: 20px;

padding: 25px;
padding-top: 50px;
font-family: 'Ubuntu' , sans-serif;
text-align: center;
}