/*CSS RESET (removes whitespace at top of screen)*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}


body{
 background: black; 
}

canvas {
	border: 1px solid #000000;
	background-color: #000000;
	position: absolute;
	height: 80%;
	width: 80%;
   	top: 50%;
    	left: 50%;
    	transform: translate(-50%, -50%); 
}
